/* *********************************************** Css For All Pages (Body)******************************************************* */
:root{
    --main-bg:hsl(204,64%,94%);
    --center-bg:#2980b9;
    --bg:71 ,81, 82;
    --center-boxshadow:0 1.4rem 2.8rem rgba(0,0,0,0.25),0 1rem 1rem rgba(0,0,0,0.22);
    --ballshadow:0 1.4rem 2.8rem rgba(0,0,0,0.25), 0 1rem 1rem rgba(0,0,0,0.22);
}
 
*{
    margin:0px;
    padding-top: 0px;
    padding-left: 1px; 
    padding-right: 1px; 
} 

/*  *******************************************Css for Home Page ********************************************************************* */
/* For Navbar Style */
.navbar a{
    color:rgb(236, 145, 9);
    font-weight: bolder;
}
.navbar{
    background: rgba(0, 0, 0,.6)!important;
    /* background:rgb(236, 145, 9)!important; */
    text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-link{
    color:white;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
 color:greenyellow;
 font-weight: bolder;
}

/* For ImageSlider Style */
.carousel-item{
    height: 90vh;
    background-size: cover;
    background-position:center center;

}
.title{
    color:blue;
}
.title span{
    color:red;
}
/********************************************************** CSS For Moments.html or Gallery******************************************* */
.gallery img{
    max-width: 100%;
    transition: transform .5s ease;
    transform: scale(0.9);
}
.gallery img:hover{
    transform: scale(1.1);
    cursor: zoom-in;
}

/* Aniamtion */


