*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --main-bg:hsl(204,64%,94%);
    --center-bg:#2980b9;
    --bg:71 ,81, 82;
    --center-boxshadow:0 1.4rem 2.8rem rgba(0,0,0,0.25),0 1rem 1rem rgba(0,0,0,0.22);
    --ballshadow:0 1.4rem 2.8rem rgba(0,0,0,0.25), 0 1rem 1rem rgba(0,0,0,0.22);
}
html{
    font-size: 75%;
}

.main_div{
    width: 100%;
    height: 400px;
    background-color: var(--main-bg);
    display: grid;
    place-items: center;

}
.center_div{
    width: 90%;
    height: 95%;
    border: 0.25rem solid var(--center-bg);
    border-bottom-width: 2rem;
    box-shadow: var(--center-boxshadow);
    display: flex;
    justify-content: center;
}
.center_div span{
    width: 0.5rem;
    height: 70%;
    background-color:rgba(var(--bg));
    display: block;
    margin: 0 2.75rem;
    position: relative;
    transform-origin: top;
}
.center_div span::before{
    content: "";
    width:7rem;
    height: 7rem;
    border-radius: 50%;
    background: url(image/15.jpg);
    background-size: cover;
    background-color: red;
    position: absolute;
    bottom: 0%;
    transform: translateX(-50%);
    box-shadow: var(--ballshadow);
}
.center_div span:nth-child(2)::before{
    background: url(image/11.jpg);
    background-size: cover;
    width:5rem;
    height: 5rem;
}
.center_div span:nth-child(3)::before{
    background: url(image/12.jpg);
    background-size: cover;
    width:5rem;
    height: 5rem;

}
.center_div span:nth-child(4)::before{
    background: url(image/3.jpg);
    background-size: cover;
    width:7rem;
    height: 7rem;
}

.center_div span:first-child{
    animation: leftball 2s linear infinite;
}
.center_div span:last-child{
    animation: rightball 2s linear 1s infinite;
}
.center_div span:nth-child(2){
    animation: leftball 2s linear infinite;
    
}
.center_div span:nth-child(3){
    animation:  rightball 2s linear 1s infinite;
}

@keyframes leftball {
    0%{
        transform: rotate(-10deg);
     }
    20%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes rightball{
0%{
    transform: rotate(-10deg);
}
20%{
    transform: rotate(0deg);
}
50%{
    transform: rotate(10deg);
}
100%{
    transform: rotate(0deg);
}
}